/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.sidebar {
	-fx-background-color: #082744;
	-fx-padding: 15px;
	-fx-spacing: 10px;
}


.theBan{
	-fx-background-color: #082744;
	-fx-background-radius: 20;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 2);
	-fx-cursor:hand;
}

.theBan:hover{
	-fx-opacity: 0.9;
}

.theBan-selected{
	-fx-background-color: gray;
	-fx-background-radius: 20;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 2);
	-fx-cursor:hand;
}

.menu-item Label {
	-fx-text-fill: white;
	-fx-font-size: 14px;
	-fx-padding: 10px 15px;
	-fx-cursor: hand;
	/* Con trỏ chuột khi hover */
}


.fontTieuDeNho {
	-fx-font-family: "Tai Heritage Pro";
	-fx-text-fill: gray;
	-fx-font-size: 15px;
}

.nutTang {
	-fx-background-color: #082744;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-family: 'Tai Heritage Pro';
	-fx-cursor: hand;
	transition: -fx-background-color 0.3s ease;
}

.nutTang:hover {
    -fx-opacity: 0.9;
}

/* Khi được chọn */
.nutTang:selected {
    -fx-background-color: Gray;
    -fx-text-fill: white;
}

.timKiem {
	-fx-pref-width: 300px;
    -fx-pref-height: 20px;
    -fx-border-width: 1;
    -fx-border-color: #D2D2D2;
    -fx-border-radius: 5px;
    -fx-font-family: 'Tai Heritage Pro';
    -fx-background-color: white;
    -fx-font-size: 15;
}

.timKiem:hover{
	-fx-border-color: blue;
}

.button-timKiem{
	-fx-background-color: white;
	-fx-border-color: #D2D2D2;
	-fx-border-width: 1;
	-fx-border-radius: 5px;
	-fx-text-fill: black;
	-fx-cursor: hand;
	-fx-font-size: 15
}

.button-timKiem:hover{
	-fx-border-color: blue;
}


/* hoc ve font */
/*
.bold-white-text {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-text-fill: white;
    -fx-underline: false;
}*/


/* Style tổng thể cho ScrollPane */
.scroll-pane {
    -fx-background-color: transparent;
}

/* Style cho vùng hiển thị bên trong (viewport) */
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

/* Thanh cuộn dọc */
.scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-pref-width: 6px;
}

/* Thanh cuộn ngang */
.scroll-bar:horizontal {
    -fx-background-color: transparent;
}

/* Track (đường rãnh) của thanh cuộn) */
.scroll-bar .track {
    -fx-background-color: #D2D2D2;
    -fx-background-radius: 5;
}

/* Thumb (nút kéo di chuyển trên thanh cuộn) */
.scroll-bar .thumb {
    -fx-background-color: #A09E9E;
    -fx-background-radius: 5;
}

/* Khi rê chuột vào thumb */
.scroll-bar .thumb:hover {
    -fx-background-color: rgba(31, 117, 254, 0.9);
}
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-opacity: 0; /* ẩn */
    -fx-pref-height: 0;
    -fx-pref-width: 0;
}

.radio-button{
	-fx-cursor: hand;
	-fx-font-family: 'Tai Heritage Pro';
	-fx-font-size: 15px;
	-fx-background-color: white;

}

.radio-button:disabled{
	-fx-opacity: 1.0;
}

.radio-button:disabled .radio {
	-fx-font-family: 'Tai Heritage Pro';
	-fx-font-size: 15;
	-fx-background-color: white;
}


.radio-button .radio {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 1.5;
    -fx-border-radius: 50%;
    -fx-min-width: 14px;
    -fx-min-height: 14px;
}



.button-checkin{
	-fx-background-color: #082744;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-border-radius: 5;
	-fx-cursor: hand;
	-fx-font-family: 'Tai Heritage Pro';
	-fx-font-size: 20;
}

.button-checkin:hover{
	-fx-opacity: 0.9;
}


.hbox-shadow {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 3, 3);
    -fx-cursor: hand;
}

.hbox-shadow:hover{
	-fx-opacity: 0.9;
}


.button-chonMon{
	-fx-background-color: #0F1F1F;
	-fx-text-fill: black;
	-fx-font-weight: bold;
	-fx-background-radius: 5;
	-fx-cursor: hand;
	-fx-font-family: 'Tai Heritage Pro';
	-fx-font-size: 20;
}

.button-chonMon:hover{
	-fx-opacity: 0.9
}

.textField-guiKhuyenMai{
	-fx-text-fill: black;
	-fx-font-family: 'Tai Heritage Pro';
	-fx-background-color: white;
	-fx-font-size: 15;
	-fx-border-weight: 1;
	-fx-border-color: #D9D9D9;
}

.textField-guiKhuyenMai:hover{
	-fx-border-color: blue;
}




.date-picker, .date-picker .text-field {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-border-color: transparent;
    -fx-effect: none;
    -fx-border-color: #D9D9D9;
	-fx-border-weight: 0.3px;
    -fx-font-size: 15;
}

.date-picker > .arrow-button {
    -fx-background-image: url("/img/lichDen.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 20px;
    -fx-background-color: white;
    -fx-effect: none;
}

/* Nếu muốn ẩn luôn icon lịch (nếu còn hiện) */
.date-picker .arrow-button .arrow {
    -fx-background-color: transparent;
    -fx-background-image: none;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-alignment: CENTER;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
}

.btn-them {
	-fx-background-radius: 5;
	-fx-background-color: #2FB129;
	-fx-font-size: 20;
	-fx-text-fill: white;
	-fx-pref-width: 150px;
	-fx-cursor: hand;
	-fx-font-weight: bold;
}

.btn-luu{
	-fx-background-radius: 5;
	-fx-background-color: #082744;
	-fx-font-size: 20;
	-fx-text-fill: white;
	-fx-pref-width: 150px;
	-fx-cursor: hand;
	-fx-font-weight: bold;
}

.btn-luu:hover {
	-fx-opacity: 0.9;
}
.btn-them:hover {
	-fx-opacity: 0.9;
}

.monAnTrai{
	-fx-background-color: white;
	-fx-border-color: #D5B009;
	-fx-border-weight: 1;
	-fx-border-radius: 5;
}
.monAn:hover{
	-fx-opacity: 0.9
}

.combo-box {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-font-size: 15px;
    -fx-font-family:	'Tai Heritage Pro' ;
}

.list-view .list-cell:selected {
    -fx-background-color: transparent;
    -fx-text-fill: inherit;  /* Giữ màu text bình thường */
}
.list-view .list-cell:focused {
    -fx-background-color: transparent;
}

.btn-In{
    -fx-background-color: #082744;
    -fx-background-radius: 5;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-pref-width: 100;
    -fx-pref-height: 35;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.btn-In:hover{
    -fx-opacity: 0.9;
}
/* Popup container */
.context-menu {
    -fx-background-color: white;
    -fx-background-radius: 0 0 5px 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 2);
    -fx-padding: 5px 0;
    -fx-border-color: #D9D9D9;
    -fx-border-width: 1px;
    -fx-min-width: 220px; /* Khớp với độ rộng TextField */
}

/* Từng dòng gợi ý */
.menu-item {
    -fx-padding: 8px 15px;
    -fx-background-color: transparent;
}

/* Chữ trong gợi ý */
.menu-item .label {
    -fx-text-fill: #333;
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI";
}

/* Hiệu ứng khi di chuột vào */
.menu-item:focused, .menu-item:hover {
    -fx-background-color: #f1f3f4; /* Màu xám nhạt giống Google */
    -fx-cursor: hand;
}