.timKiem {
	-fx-pref-width: 200px;
    -fx-pref-height: 20px;
    -fx-border-width: 1;
    -fx-border-color: #D2D2D2;
    -fx-border-radius: 6px;
    -fx-font-family: 'Tai Heritage Pro';
    -fx-background-color: white;
    -fx-font-size: 15;
}

.timKiem:hover{
	-fx-border-color: blue;
}

.button-timKiem{
	-fx-background-color: white;
	-fx-border-color: #D2D2D2;
	-fx-border-width: 1;
	-fx-border-radius: 6;
	-fx-text-fill: black;
	-fx-cursor: hand;
	-fx-font-size: 15
}

.button-timKiem:hover{
	-fx-border-color: blue;
}


.scroll-pane {
    -fx-background-color: transparent;
}

/* Style cho vùng hiển thị bên trong (viewport) */
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

/* Thanh cuộn dọc */
.scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-pref-width: 6px;
}

/* Thanh cuộn ngang */
.scroll-bar:horizontal {
    -fx-background-color: transparent;
}

/* Track (đường rãnh) của thanh cuộn) */
.scroll-bar .track {
    -fx-background-color: #D2D2D2;
    -fx-background-radius: 5;
}

/* Thumb (nút kéo di chuyển trên thanh cuộn) */
.scroll-bar .thumb {
    -fx-background-color: #A09E9E;
    -fx-background-radius: 5;
}

/* Khi rê chuột vào thumb */
.scroll-bar .thumb:hover {
    -fx-background-color: rgba(31, 117, 254, 0.9);
}
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-opacity: 0; /* ẩn */
    -fx-pref-height: 0;
    -fx-pref-width: 0;
}

.combo-box {
    -fx-background-color: white;
    -fx-border-color: #D2D2D2;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-font-size: 16px;
    -fx-font-family:	'Tai Heritage Pro' ;
}

.fontTieuDeNho {
	-fx-font-family: "Tai Heritage Pro";
	-fx-text-fill: gray;
	-fx-font-size: 15px;
}

.tenMon{
	-fx-font-family: "Tai Heritage Pro";
		-fx-text-fill: black;
		-fx-font-size: 16px;
		-fx-font-weight: bold;
}

.moTa{
	-fx-font-family: "Tai Heritage Pro";
		-fx-text-fill: black;
		-fx-font-size: 10px;
}

.giaTien{
	-fx-font-family: "Tai Heritage Pro";
		-fx-text-fill: red;
		-fx-font-size: 20px;
		-fx-font-weight: bold;
}

.theMonAn{
	-fx-background-color: white;
	-fx-background-radius: 10px;
	-fx-padding: 0 0 15 0;
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 10, 0.1, 0, 0);
	-fx-border-radius: 10px;
	-fx-border-width: 1;
	-fx-border-color: white;
	-fx-cursor: hand;
}

