/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.sidebar {
	-fx-background-color: #0c345d;
	/* Màu nền của sidebar */
	-fx-padding: 15px;
	-fx-spacing: 2px;
}

.menu-item Label {
	-fx-text-fill: white;
	/* Màu chữ trắng cho Label bên trong */
	-fx-font-size: 14px;
	-fx-padding: 10px 15px;
	-fx-cursor: hand;
	/* Con trỏ chuột khi hover */
}

