/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */



.menu-item Label {
	-fx-text-fill: white;
	/* Màu chữ trắng cho Label bên trong */
	-fx-font-size: 14px;
	-fx-padding: 10px 15px;
	-fx-cursor: hand;
	/* Con trỏ chuột khi hover */
}

.sidebar {
    -fx-background-color: #0b214f;
    -fx-border-width: 0;
}

.menu-item {
    -fx-background-color: transparent;
}

.menu-item-hover {
    -fx-background-color: rgba(255,255,255,0.1);
    -fx-cursor: hand;
}

.submenu-item-hover {
    -fx-background-color: rgba(255,255,255,0.08);
    -fx-cursor: hand;
}

.selected {
    -fx-background-color: #1e3a8a;
    -fx-font-weight: bold;
}

.logout-button {
    -fx-background-color: transparent;
}

.logout-button:hover {
    -fx-background-color: rgba(255,255,255,0.1);
    -fx-cursor: hand;
}
